/*******************************************************************************************************************
                                        ESTILOS GENERALES
*******************************************************************************************************************/


@font-face {
    font-family: 'Shamery';
    src: url('../ShameryFont/shamery.ttf');
}

@font-face {
    font-family: 'Saint';
    src: url('../SaintAndrewQueen/Saint.ttf');
}