/*******************************************************************************************************************
                                        ESTILOS PAGINA PRINCIPAL
*******************************************************************************************************************/

@font-face {
    font-family: 'Shamery';
    src: url('../ShameryFont/shamery.ttf');
}

@font-face {
    font-family: 'Jellyka';
    src: url('../JellykaFont/jellyka.ttf');
}

@font-face {
    font-family: 'Brandon_bld';
    src: url('../Brandon/Brandon_bld.otf');
}

@font-face {
    font-family: 'Brandon_blk';
    src: url('../Brandon/Brandon_blk.otf');
}

@font-face {
    font-family: 'Brandon_light';
    src: url('../Brandon/Brandon_light.otf');
}

@font-face {
    font-family: 'Brandon_med';
    src: url('../Brandon/Brandon_med.otf');
}

@font-face {
    font-family: 'Brandon_reg';
    src: url('../Brandon/Brandon_reg.otf');
}

@font-face {
    font-family: 'Brandon_grotesque_bold';
    src: url('../Brandon/BrandonGrotesque-Bold.otf');
}

@font-face {
    font-family: 'Brandon_grotesque_medium';
    src: url('../Brandon/BrandonGrotesque-Medium.otf');
}

.body-index {
    overflow: hidden;
    height: 100%;
}

.header {
    width: 100%;
    height: 8%;
}

.main-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.background-image {
    background: url(../assets/images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    text-align: center;
    transform: translate(-50%, -50%);
}

.default-text {
    font-family: 'Brandon_light';
    font-size: 30px;
    align-content: center;
    color:white;
    justify-content: center;
    align-content: center;
}

.bg {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.bg-main{
    background-image: url('../../assets/images/index-background.jpg');
}


/* PC */
@media (min-width: 768px) {
    .bg-nav {
        background: 0;
    }
}
