@font-face {
    font-family: 'Brandon_light';
    src: url('../Brandon/Brandon_light.otf');
}

.top-menu ul {
    list-style: none;
    float:right;
}

.top-menu ul li {
    display: inline-block;
    background: transparent;
    border-bottom: 3px solid transparent;
}

.top-menu ul li:hover a {
    background: transparent;
}

.top-menu ul li a:hover {
    border-bottom: 1.1px;
}

.top-menu ul li a {
    font-size: 20px;
    color: #2a2929;
    font-family: 'Brandon_light';
}

.selected {
    border-bottom: 1.1px;
}

.fast-icon {
    height: 100%;
    float: left;
    padding: 3px;
}

.text-icon {
    float: left;
    font-size: 26px;
    font-family: 'Brandon_light';
}